@*
    ServiceDetails ist eine Übersicht zu den Dienstleistungen des jeweiligen Vertrags.
    Zugang dazu erhält man über die Hauptübersicht(Index) indem man auf einen Vertrag-
    detailsbutton klickt.
*@

@model IEnumerable<Service>

@*
Da ServiceDetails eine Unterseite des HomeControllers ist muss ich
in ViewBag.ControllerAction die Controllermethode angeben. Der Parameter
wird wiederum in der Paginationkomponente (Partial-View) verwendet damit
diese zur richtigen Controllermethode posted. Ich habe hier einen ViewBag
Parameter genommen damit in PartialView die Controller Methode nicht hatcodiert
eingetragen werden muss.
*@
@{
    ViewBag.ControllerAction = "ServiceDetails";
}

<h3 class="p-2 bg-primary text-white text-center">Leistung</h3>

<table class="table table-sm table-bordered">
    <thead>
        <tr bgcolor="#D3D3D3">
            <td><b>@(ViewBag.CompanyName + " Vertrag vom: " + ViewBag.Startdate.ToString("dd. MM. yyyy"))</b></td>
            <td>
                <form>
                    <a class="btn btn-sm btn-primary" asp-action="Index">Zurück zur Übersicht</a>
                    <button type="submit" asp-action="EditService" formmethod="post" class="btn btn-sm btn-success">
                        Dienstleistung hinzufügen
                    </button>
                </form>
            </td>
        </tr>
        <tr class="p-2 table-borderless">
            <td>
                <div>
                    @Html.Partial("PostPages", Model)
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (Service s in Model)
            {
                <tr>
                    <td><p style="width:400px;">@s.ServiceDescription</p></td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="ContractId" value="@s.ContractId" />
                            <input type="hidden" name="ServiceId" value="@s.ServiceId" />
                            @*formmethod="post"*@
                            <button type="submit" asp-action="SoftDeleteService"
                                    class="btn btn-sm btn-danger">
                                Löschen
                            </button>
                            @*formmethod="post"*@
                            <button type="submit" asp-action="EditService" class="btn btn-sm btn-warning">Bearbeiten</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td><h5><b>Keine Dinestleistungen vorhanden</b></h5></td>
            </tr>
        }
    </tbody>
</table>
